@font-face {
  font-family: "aileron-thin";
  src: url(../aileron/Aileron-Thin.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: url(../Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
}
:root {
  --tipo-principal: "montserrat";
  --tipo-secundaria: "aileron";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #131313;
    --color-secundario: #ffffff;
  }
}
@media (prefers-contrast: high) {
  :root {
    --color-primario: #131313;
    --color-secundario: #ffffff;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  line-height: 1.4em;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-text: rgb(118, 118, 118);
  --color-secundario-white: #eae9e8;
  --color-secundario-vague: #c3aa8e;
  --color-secundario-brown: #332520;
  --color-secundario-gray: #3d3d3d;
}

.conteiner__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--color-secundario-brown);
}
.conteiner__header .header {
  width: 90%;
}
@media screen and (max-width: 550px) {
  .conteiner__header .header {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 9;
    background: var(--color-secundario-brown);
  }
}
.conteiner__header .header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0em 2em 0em;
}
@media screen and (max-width: 550px) {
  .conteiner__header .header__nav {
    padding: 1em 0em 1em 0em;
  }
}
.conteiner__header .header__logo {
  width: 20%;
}
@media screen and (max-width: 1080px) {
  .conteiner__header .header__logo {
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .conteiner__header .header__logo {
    width: 65%;
  }
}
.conteiner__header .desktop__logo {
  display: block;
}
@media screen and (max-width: 550px) {
  .conteiner__header .desktop__logo {
    display: none;
  }
}
.conteiner__header .mobile__logo {
  display: none;
}
@media screen and (max-width: 550px) {
  .conteiner__header .mobile__logo {
    display: block;
    width: 60%;
  }
}
.conteiner__header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .conteiner__header .header__menu {
    display: none;
  }
}
.conteiner__header .menu__li {
  color: var(--color-secundario-white);
  font-family: "montserrat";
  font-size: clamp(.8em,20vw,.8em);
  letter-spacing: 2px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.conteiner__header .menu__li:not(:last-child) {
  margin-right: 2.5em;
}
.conteiner__header .menu__li:hover {
  color: var(--color-secundario-vague);
}
.conteiner__header .menu__li.active {
  color: var(--color-secundario-vague);
}
.conteiner__header .menumovil__box {
  display: none;
  position: relative;
  z-index: 3;
  right: 1.2em;
}
@media screen and (max-width: 768px) {
  .conteiner__header .menumovil__box {
    display: block;
  }
}
.conteiner__header .menumovil {
  width: 4em;
  min-height: 4em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.conteiner__header .menumovil__conteiner {
  width: 80%;
  min-height: 100%;
  overflow: hidden;
}
.conteiner__header .menumovil__conteiner .menumovil__lines {
  width: 100%;
  min-height: 4px;
  background-color: var(--color-secundario-vague);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.conteiner__header .menumovil__conteiner .menumovil__lines:not(:last-child) {
  margin-bottom: 0.8em;
}
.conteiner__header .menumovil__conteiner .active.lines__1 {
  opacity: 1;
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 120%;
}
.conteiner__header .menumovil__conteiner .active.lines__2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.conteiner__header .menumovil__conteiner .active.lines__3 {
  opacity: 1;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 120%;
}
.conteiner__header .menumobile {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-secundario-brown);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .conteiner__header .menumobile {
    display: block;
  }
}
.conteiner__header .menumobile.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.conteiner__header .menumobile__cont {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}
.conteiner__header .menumobile__ul {
  text-align: start;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 900;
  color: var(--color-secundario-white);
}
.conteiner__header .menumobile__li {
  font-size: clamp(1rem,20vw,1.5rem);
  color: var(--color-secundario-vague);
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all 0.4s 0.3s ease;
  transition: all 0.4s 0.3s ease;
}
.conteiner__header .menumobile__li.active {
  opacity: 1;
}
.conteiner__header .menumobile__li:not(:last-child) {
  margin-bottom: 2em;
}
.conteiner__header .menumobile__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  -webkit-transform: translateY(6em);
          transform: translateY(6em);
}
.conteiner__header .menumobile__rrssli {
  opacity: 0;
  -webkit-transition: all 0.4s 0.3s ease;
  transition: all 0.4s 0.3s ease;
}
.conteiner__header .menumobile__rrssli.active {
  opacity: 1;
}
.conteiner__header .menumobile__rrssli:not(:last-child) {
  margin-right: 2.2em;
}
.conteiner__header .menumobile__rrssimg {
  width: 2em;
}

.slider {
  width: 100%;
}
.slider .slider__conteiner {
  width: 100%;
}
.slider .slider__conteiner .slider__imagenes {
  width: 100%;
}
.slider .slider__conteiner .slider__img {
  width: 100%;
  height: 80%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.slider .slider__conteiner .active.slider__img {
  opacity: 1;
}
.slider .slider__conteiner .arrow__cont {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider__conteiner .arrow__cont .slider__arrow {
  width: 100%;
  position: relative;
  z-index: 1;
  color: red;
  cursor: pointer;
}
.slider .slider__conteiner .arrow__cont .slider__arrow .arrow {
  position: absolute;
}
.slider .slider__conteiner .arrow__cont .slider__arrow .slider__left {
  width: 2.5em;
  fill: red;
  left: 4em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 550px) {
  .slider .slider__conteiner .arrow__cont .slider__arrow .slider__left {
    left: 1em;
    width: 1.8em;
  }
}
.slider .slider__conteiner .arrow__cont .slider__arrow .slider__right {
  right: 3em;
  width: 3em;
}
@media screen and (max-width: 550px) {
  .slider .slider__conteiner .arrow__cont .slider__arrow .slider__right {
    right: 1em;
    width: 1.8em;
  }
}

.main {
  width: 100%;
  background-color: var(--color-secundario);
}
.main .main__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8em 0em 8em 0em;
}
.main .main__cont .main__titles {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 550px) {
  .main .main__cont .main__titles {
    width: 90%;
  }
}
.main .main__cont .main__titles .main__h2 {
  text-align: center;
  font-family: "montserrat";
  font-weight: 900;
  font-size: clamp(.3rem ,20vw,1.8rem);
  line-height: 1.3;
}
.main .main__cont .main__titles .line__h2 {
  width: 10%;
  position: relative;
}
.main .main__cont .main__titles .line__h2:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--color-secundario-vague);
  position: absolute;
  top: 1em;
  right: 0px;
}
.main .main__cont .main__titles .main__p {
  width: 70%;
  text-align: center;
  font-family: "aileron-thin";
  font-size: clamp(.3rem ,20vw,1.4rem);
  line-height: 1.3;
  color: var(--color-text);
  padding: 2em 0em 0em 0em;
}
@media screen and (max-width: 768px) {
  .main .main__cont .main__titles .main__p {
    width: 100%;
    padding: 2em 0em 0em 0em;
  }
}
.main .card {
  width: 100%;
  height: auto;
  background: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 4em 0em 4em 0em;
  position: relative;
}
.main .card::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-secundario-brown);
  opacity: 0.3;
  z-index: 0;
}
.main .card .card__ul {
  width: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
  gap: 2em;
  position: relative;
  z-index: 1;
}
@media (max-width: 550px) {
  .main .card .card__ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 3em;
  }
}
@media screen and (max-width: 550px) {
  .main .card .card__ul {
    width: 90%;
  }
}
@media screen and (max-width: 1690px) {
  .main .card .card__ul {
    display: -ms-grid;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    gap: 1.8em;
  }
}
@media screen and (max-width: 1690px) and (max-width: 550px) {
  .main .card .card__ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 3em;
  }
}
.main .card .card__li {
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.main .card .card__box {
  width: 100%;
  min-height: 40em;
}
.main .card .card__img {
  width: 100%;
  min-height: 18em;
  background-image: url(../assets/card_1.jpg);
  background-size: cover;
  background-position: top left;
  border-radius: 8px 8px 0px 0px;
}
.main .card .card__img1 {
  width: 100%;
  min-height: 18em;
  background-image: url(../assets/card_2.jpg);
  background-size: cover;
  background-position: top left;
  border-radius: 8px 8px 0px 0px;
}
.main .card .card__img2 {
  width: 100%;
  min-height: 18em;
  background-image: url(../assets/card_3.jpg);
  background-size: cover;
  background-position: top left;
  border-radius: 8px 8px 0px 0px;
}
.main .card .card__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 0em 4em 0em;
}
.main .card .card__info .card__h3 {
  text-align: center;
  font-family: "montserrat";
  font-weight: 600;
  padding: 0em 0em 1em 0em;
  text-transform: uppercase;
}
.main .card .card__info .card__p {
  width: 75%;
  text-align: center;
  font-family: "aileron-thin";
  color: var(--color-text);
}

.endodoncia {
  width: 100%;
  padding: 8em 0em 8em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.endodoncia .endodoncia__cont {
  width: 80%;
}
.endodoncia .endodoncia__width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.endodoncia .endodoncia__h2 {
  text-align: center;
  font-family: "montserrat";
  font-weight: 900;
  font-size: clamp(.3rem ,20vw,1.8rem);
  line-height: 1.3;
}
.endodoncia .line__endodoncia {
  width: 10%;
  position: relative;
}
.endodoncia .line__endodoncia::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--color-secundario-vague);
  position: absolute;
  top: 1em;
  right: 0px;
}
.endodoncia .endodoncia__p {
  width: 70%;
  text-align: center;
  font-family: "aileron-thin";
  font-size: clamp(.3rem ,20vw,1.4rem);
  line-height: 1.3;
  color: var(--color-text);
  padding: 2em 0em 0em 0em;
}
@media screen and (max-width: 550px) {
  .endodoncia .endodoncia__p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .endodoncia .endodoncia__p {
    width: 100%;
  }
}

.tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__cont {
  width: 90%;
  background: red;
}
@media screen and (max-width: 768px) {
  .tabs__cont {
    display: none;
  }
}

.tabs__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__li {
  background: hotpink;
  padding: 1em;
  cursor: pointer;
}
.tabs__li:not(:last-child) {
  margin-right: 1em;
}

.tabs__infoul {
  width: 100%;
  min-height: 20vh;
  position: relative;
  background: blue;
}

.tabs__infoli {
  position: absolute;
  top: 0;
  left: 0;
}

.tabs__infocont {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabs__infocont.active {
  opacity: 1;
}

.tabs__infop {
  background: purple;
}

.tabs__infoimg {
  background: peru;
}

.tabstwo__cont {
  display: none;
}
@media screen and (max-width: 768px) {
  .tabstwo__cont {
    display: block;
  }
}

.tabstwo__width {
  padding: 0em 0em 10em 0em;
}

.tabstwo__titlecont {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: green;
  padding: 2em;
}
.tabstwo__titlecont:not(:last-child) {
  margin-bottom: 0.4em;
}

.tabstwo__img {
  width: 4%;
  background-color: red;
}
.tabstwo__img .tabstwo__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tabstwo__info {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabstwo__info.active {
  height: 18em;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: relative;
  background: var(--color-secundario-brown);
  padding: 5em 0em 5em 0em;
}
@media screen and (max-width: 550px) {
  .footer {
    display: none;
  }
}

.footer__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-secundario-white);
}

.fotter__titles {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 550px) {
  .fotter__titles {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .fotter__titles {
    width: 80%;
  }
}
.fotter__titles .footer__img {
  width: 40%;
  padding: 0em 0em 0em 0em;
}
@media screen and (max-width: 550px) {
  .fotter__titles .footer__img {
    width: 50%;
  }
}
.fotter__titles .line__logo {
  width: 20%;
  position: relative;
}
.fotter__titles .line__logo:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--color-secundario-vague);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.footer__p {
  font-family: "montserrat";
  padding: 1.5em 0em 0em 0em;
  color: var(--color-secundario-white);
  text-align: center;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0em 2em 0em;
}

.footer__li {
  font-family: "montserrat";
  color: var(--color-secundario-vague);
  letter-spacing: 2px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.footer__li:hover {
  color: var(--color-secundario-white);
}
.footer__li:not(:last-child) {
  margin-right: 2em;
}

.footer__rrss {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__rrssli {
  width: 1.5em;
}
.footer__rrssli:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);
          filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);
}
.footer__rrssli:not(:last-child) {
  margin-right: 1em;
}