
@use "reset/mixin";
@use "reset/reset";
@use "reset/variables";




.conteiner__header{
    width: 100%;
    display: flex;
    justify-content: center;;
    @include mixin.name(var(--color-secundario-brown));

    .header{
        width: 90%;
        @include mixin.mobile(550px){width:100%;position:fixed;bottom: 0px; z-index:9;    @include mixin.name(var(--color-secundario-brown));};
        
    }
    
    .header__nav{
        width: 100%;
        @include mixin.flex(row,nowrap,space-between,center);
        padding: 2em 0em 2em 0em;
        @include mixin.mobile(550px){padding: 1em 0em 1em 0em;}
    }
    .header__logo{
        width: 20%;
        @include mixin.laptop(1024px){
            width: 24%;
        }
        @include mixin.mobile(1080px){width:40%}

        @include mixin.mobile(550px){width:65%}
        
    }
    .logo__li{
    
    }
    .header__a{
        
    }
    
    .desktop__logo{
        display: block;
        @include mixin.smallTablet{display: none;}
    }
    .mobile__logo{
        display: none;
        @include mixin.smallTablet{display: block;width: 60%}
    }

//768px

    .header__menu{
        @include mixin.flex(row,nowrap,center,center);
        @include mixin.mobile (768px){display: none;}
        text-transform: uppercase;
    }

    .menu__li{
        color: white;
        font-family: 'montserrat';
        font-size: clamp(.8em,20vw,.8em);
        letter-spacing: 2px;
        transition: color .3s ease-in-out;

        &:not(:last-child){
            margin-right: 2.5em;
        }
        &:hover{
            color: var(--color-secundario-vague);
        }
        &.active{
            color: var(--color-secundario-vague);
        }
    }


    .header__a{
        
    }


    .menumovil__box{
        display: none;
        @include mixin.mobile(768px){display:block;};
        position: relative;
        z-index: 3;
        right: 1.2em;
    }

    .menumovil{
        width: 4em;
        min-height: 4em;
        cursor: pointer;
        @include mixin.flex(row,nowrap,flex-end,center);
    }
    
    .menumovil__conteiner{
        width: 80%;
        min-height: 100%;
        
        overflow: hidden;


        .menumovil__lines{
            width: 100%;
            min-height: 4px;
            background-color: var(--color-secundario-vague);
            border-radius: 8px;
            transition: all .2s ease;
            
            
            &:not(:last-child){
                margin-bottom: .8em;
            }
        }
        .active.lines__1{
            opacity: 1;
            transform: rotate(34deg)  ;
            transform-origin: left;
            width: 120%;
            
        }

        .active.lines__2{
            transform: translateX(-102%);
        }
        .active.lines__3{
            opacity: 1;
            transform: rotate(-34deg);
            transform-origin: left;
            width: 120%;

        }
        
    }
    
    .menumobile{
        width: 100%;
        min-height: 100vh;
        background-color: var(--color-secundario-brown);
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        display: none;
        @include mixin.mobile(768px){display: block;}
        transform: translateX(100%);
        transition: transform .3s ease-in-out;


        &.active{
            transform: translateX(0%);
        }
    }

    .menumobile__cont{
        width: 100%;
        min-height: 100vh;
        @include mixin.flex(column,nowrap,center,self-start);
        transform: translateX(2em);
    }

    .menumobile__ul{
        text-align: start;
        text-transform: uppercase;
        font-family: 'montserrat';
        font-weight: 900;
        color: var(--color-secundario-white);
    }
    .menumobile__li{
        font-size:clamp(1rem,20vw,1.5rem);
        color: var(--color-secundario-white);
        letter-spacing: 3px;
        transform: translateY(5em);
        opacity: 0;
        transition: all 1s .5s ease,
                    color .3s ease-in-out,
        ;
        &.active{
            opacity: 1;
            transform: translateY(0em);

        }
        &:hover{
            color: var(--color-secundario-vague);
        }
        &:not(:last-child){
            margin-bottom: 2em;
        }
    }
    .colorvague{
        color: var(--color-secundario-vague)
    }
    .menumobile__a{
        
    }


    .menumobile__rrss{
        @include mixin.flex(row,nowrap,flex-start,self-start);
        transform: translateY(6em);
    }

    .menumobile__rrssli{
        transform: translateY(5em);
        opacity: 0;
        transition: all 1s .5s ease,
            filter 0s ease-in-out,
        ;
        &.active{
            transform: translateY(0em);
            opacity: 1;
        }

        &:hover{
            filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);
        }
        &:not(:last-child){
            margin-right: 2.2em;
        }
        
    }
    .menumobile__rrssimg{
        width: 2em;
    }

}




.slider{
    width: 100%;
    min-height: 80vh;
    
    position: relative;
}
.slider__cont{
    width: 100%;
}
.slider__imagenes{
    width: 100%;
    
}
.slider__imgscont{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all .4s ease;
    &.active{
        opacity: 1;
    }
}
.slider__img{
    position:absolute;
    width: 100%;
    min-height: 80vh;
}

.slider__copycont{
    width: 100%;
    min-height: 80vh;
    position: absolute;
    display: grid;
    place-items: center;
    backdrop-filter: blur(.25em);
    z-index: 1;
    &:before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--color-secundario-brown);
        opacity: .6;
        z-index: 0;
    }
}
.slider__copywidth{
        width: 50%;
        @include mixin.smallTablet{width: 80%;}
}

.slider__copytitlelast{
    font-family: 'openSans';
    letter-spacing: 3px;
    color: var(--color-secundario-vague);
    text-align: center;
    font-size: clamp(3rem ,20vw,2rem);
    text-transform: uppercase;
    line-height: 1.3;
    position: relative;
    z-index: 0;
    margin-bottom: .8em;
    

    @include mixin.smallTablet{
        text-align: start;
        font-size: clamp(2rem ,20vw,2rem);
    }
    @include mixin.mobile{
        font-size: clamp(1rem ,20vw,1.4rem);

    }
    
}

.slider__copylast{
    color: white;    
    text-align: center;
    font-size: clamp(1rem ,20vw,1.3rem);
    position: relative;
    z-index: 1;
    line-height: 1.8;
    
    @include mixin.smallTablet(1250px){
        font-size: clamp(.3rem ,20vw,1rem)
    }
    
    @include mixin.mobile{
        font-size: clamp(.3rem ,20vw,1.1rem)
    }

    .slider__copycolors{
        font-weight: 900;
        color: var(--color-secundario-vague);
    }
}
.slider__copytitle{
    font-family: 'openSans';
    letter-spacing: 3px;
    color: var(--color-secundario-vague);
    text-align: center;
    font-size: clamp(3rem ,20vw,2rem);
    text-transform: uppercase;
    line-height: 1.3;
    position: relative;
    z-index: 0;
    margin-bottom: .5em;

    &:not(:first-child){
        margin-top: .5em;
    }

    @include mixin.smallTablet{
        display: none;
        margin-bottom: 0em;
        font-size: clamp(3rem ,20vw,2rem);

        &:not(:first-child){
            margin-top: 0em;
        }
    }
    
}


.slider__copytitlemobile{
    margin-bottom: 2em;
}
.slide__copymobile{
    display: none;
    @include mixin.smallTablet{
        display: block;
        font-size: clamp(2rem ,20vw,2rem);
        letter-spacing: 2px;

    }   
    @include mixin.mobile{
        font-size: clamp(1rem ,20vw,1.6rem);
        

    }
}
.slider__copytitlep{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: clamp(1rem ,20vw,1.3rem);
    line-height: 1.8;
    @include mixin.smallTablet(1250px){
        font-size: clamp(.3rem ,20vw,1rem)
    }
}
.slider__copyweight{
    font-weight: 900;
    margin-top: 1em;
    color: var(--color-secundario-vague);

}
.slider__copywidthimgcont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 2em;
}
.slider__copywidthimg{
    width: 40%;
    @include mixin.smallTablet(1350px){width: 70%;}

    @include mixin.smallTablet{width: 90%;}
}
.slider__copy{
    color: white;    
    text-align: center;
    font-size: clamp(1rem ,20vw,1.3rem);
    position: relative;
    z-index: 1;
    line-height: 1.8;
    

    @include mixin.smallTablet(1250px){
        font-size: clamp(.3rem ,20vw,1rem)
    }
    
    .slider__copycolors{
        font-weight: 900;
        color: var(--color-secundario-vague);
    }
}

.slider__btn{
    position: relative;
    z-index: 2;
    width: 100%;
    @include mixin.flex(row,nowrap,center,center)
}
.slider__btna{
    text-align: center;
    background-color:var(--color-secundario-brown);
    padding: 1.5em 4em 1.5em 4em;
    color: var(--color-secundario-vague);
    font-family: 'montserrat';
    // font-weight: 900;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin-top: 3em;
    font-size: clamp(.7em,20vw,1em);
    @include mixin.flex(row,nowrap,flex-end,center);
    @include mixin.smallTablet{
        margin-top: 2em;
        padding: 1em 2.5em 1em 2.5em;
    }
    transition: all .3s ease-in-out;
    
.slider__btnarrow{
    position: absolute;

}
.slider__btncont{

}
.slider__btnimg{
    width: .5em;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
    opacity: 0.1;
    
}

&:hover .slider__btnimg{
    transform: translateX(250%);
    transition: all .3s ease;
    opacity: 1;

}
&:hover {
    letter-spacing: 1px;
    transition: all .3s ease;


}
}

.arrow{
    width: 100%;
    height: 80vh;
    @include mixin.flex(row,nowrap,center,center)
}
.arrow__conteiner{
    width: 100%;
    position: absolute;
    z-index: 1;
    @include mixin.flex(row,nowrap,space-between,center)
}
.arrow__imgcont{
    cursor: pointer;
    
    
}
.left{
    margin-left: 1em;
    @include mixin.smallTablet{
        margin-left: 0em;
    }
}
.right{
    margin-right: 1em;
    @include mixin.smallTablet{
        margin-right: 0em;

    }
}
.arrow__img{
    width: 2.2em;
    @include mixin.smallTablet{
        width: 1.5em;

    }
}


.main{
    width: 100%;
    background-color: var(--color-secundario);
    // @include mixin.mobile(550px){padding:10em 0em 20em 0em;}

    .main__cont{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 8em 0em 8em 0em;
        @include mixin.smallTablet{padding: 8em 0em 8em 0em;}
        .main__titles{
            width: 80%;
            @include mixin.mobile(550px){width: 90%;}
            display: flex;
            flex-direction: column;
            align-items: center;

            .main__h2{
                text-align: center;
                font-family: 'montserrat';
                font-weight: 900;
                font-size: clamp(.3rem ,20vw,1.8rem);
                line-height: 1.3;
                letter-spacing: 3px;
                @include mixin.laptop(1500px){
                    letter-spacing: 0px;
                }
                @include mixin.mobile{font-size: clamp(.3rem ,20vw,1.4rem);}
                color: var(--color-secundario-brown);

            }

            .line__h2{
                width: 10%;
                position: relative;
                
                &:before{
                    content: "";
                    display: block;
                    width:100%;
                    height: 2px;
                    background: var(--color-secundario-vague);
                    position: absolute;
                    top: 1em;
                    right: 0px;
                    
                }
            }

            .main__p{        
                width: 80%;        
                text-align: center;
                font-family: 'aileron-regular';
                font-size: clamp(.3rem ,20vw,1.2rem);
                line-height: 1.4;
                color: var(--color-text);
                margin-top: 2.5em;
                @include mixin.mobile(768px){
                    width: 100%;
                    font-size: clamp(.3rem ,20vw,1.2rem);
                    padding: 2em 0em 0em 0em;}


                .main__pspan{
                    font-weight: 900;
                }
            }
        }
    }
    
    
    .card{
        width: 100%;
        height: auto;
        @include mixin.name(white);
        display: grid;
        place-items: center;
        background-image: url(../assets/bg.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 8em 0em 8em 0em;
        position: relative;
        
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            @include mixin.name(var(--color-secundario-brown));
            opacity: .3;
            z-index: 0;
        }

        .card__ul{
            width: 90%;
            @include mixin.grid(23em, 1.5em);
            @include mixin.mobile{
                @include mixin.grid(18em,1em)
            }
            // @include mixin.mobile(550px){width:90%}

            position: relative;
            z-index: 1;
        }
        .card__li{
            width: 100%;
            min-height: 40em;
            @include mixin.name(white);
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            @include mixin.laptop{
                min-height: 36em;
            }
            

            
        }

        .card__box{
            


        }

        .card__img{
            width: 100%;
            min-height: 18em;
            background-image: url(../assets/card_1.jpg);
            background-size: cover;
            background-position: top left;
            border-radius: 8px 8px 0px 0px;

            @include mixin.laptop(1380px){
                min-height: 18em;
            }
            @include mixin.tablet(859px){
                min-height: 23em;
            }
            @include mixin.mobile(550px){
                min-height: 18em;
                background-position: center ;
            }
            @include mixin.smallmobile(320px){
                min-height: 8em;
            }
        }

        .card__img1{
            width: 100%;
            min-height: 18em;
            background-image: url(../assets/card_2.jpg);
            background-size: cover;
            background-position: top left;
            border-radius: 8px 8px 0px 0px;

            

            @include mixin.tablet(859px){
                min-height: 23em;
            }

            @include mixin.mobile(550px){
                min-height: 18em;
                background-position: center ;
            }
            @include mixin.smallmobile(320px){
                min-height: 8em;
            }

        }
        .card__img2{
            width: 100%;
            min-height: 18em;
            background-image: url(../assets/card_3.jpg);
            background-size: cover;
            background-position: top left;
            border-radius: 8px 8px 0px 0px;

            @include mixin.laptop(1380px){
                min-height: 18em;
            }

            @include mixin.tablet(859px){
                min-height: 23em;
            }

            @include mixin.mobile(550px){
                min-height: 18em;
                background-position: center ;
            }
            @include mixin.smallmobile(320px){
                min-height: 8em;
            }
        }

        .card__info{
            width: 100%;
            @include  mixin.flex(column,nowrap,center,center);
            padding: 4em 0em 4em 0em;

            @include mixin.laptop{
                padding: 2.5em 0em 2.5em 0em;
            }

        .card__h3{
            text-align: center;
            font-family: 'montserrat';
            font-weight: 600;
            padding: 0em 0em 1em 0em;
            text-transform: uppercase;
            letter-spacing: 2px;
            @include mixin.laptop(1500px){
                letter-spacing: 0px;
            }
        }

        .card__p{
            width: 73%;
            text-align: center;
            font-family: 'aileron-regular';
            color: var(--color-text);
            font-size: clamp(.3rem ,20vw,1.1rem);
            line-height: 1.4;
            @include mixin.smalllaptop{
                font-size: clamp(.3rem ,20vw,1rem);

            }
            @include mixin.laptop{
                width: 80%;
            }

        }
        }
    }
    
}


.info{
    width: 100%;
    background: transparent;
    padding: 8em 0em 8em 0em;
    background: transparent;
    @include mixin.flex(row,nowrap,center,center)
}
.info__conteiner{
    width: 80%;
    
    @include mixin.laptop(1294px){
        width: 90%;
    }
    @include mixin.smallTablet{
        width: 90%;
    }
    
    //1294px
}
.info__h4{
    text-align: center;
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;
    margin-bottom: 1em;
    color: var(--color-secundario-brown);
    @include mixin.smallTablet{
        font-size: clamp(.3rem ,20vw,1.4rem);
    }
}
.info__p{
    text-align: center;
    font-size: clamp(1rem ,20vw,1.3rem);
    margin-bottom: 2em;
    color: var(--color-secundario-vague);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
    @include mixin.smallTablet{
        margin-bottom: 3em;
    }
}
.info__imgtext{

}
.info__imgtextcont{
    
    @include mixin.grid(20em,0em);
    @include mixin.smallTablet(1200px){

        gap: 0;
        //840px
    }
    @include mixin.tablet(840px){
        @include mixin.grid(25em,0em);

    }
    @include mixin.mobile{
        @include mixin.grid(20em,0em)
    }
}
.info__img{
    max-width: 1100px;
    width: 100%;
    height: 50vh;
    position: relative;
    @include mixin.smallTablet{
        width: 100%;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--color-secundario-brown);
        opacity: 0.1;
        z-index: 1;
        border-radius: 8px;
        @include mixin.smallTablet(840px){
            border-radius: 8px 8px 0px 0px;
    
        }
    }
}
.info__imagenes{
    max-width: 1100px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
    border-radius: 8px;
    object-fit: cover;

    
    @include mixin.smallTablet(840px){
            border-radius: 8px 8px 0px 0px;
    
        }
    &.active{
        opacity: 1;
    }
}
.info__textconteiner{
    background: var(--color-secundario-brown);
    color: var(--color-secundario-vague);
    padding: 6em 3em 6em 3em;
    border-radius: 0px 8px 8px 0px;
    font-family: 'aileron-regular';
    line-height: 1.4;
    font-size: clamp(.3rem ,20vw,1.2rem);

    @include mixin.flex(row,nowrap,center,center);
    @include mixin.laptop{
        padding: 3em 2em 3em 2em;

    }
    @include mixin.smallTablet(840px){
        width: 100%;
        padding: 4em 2em 4em 2em;
        border-radius: 0px 0px 8px 8px;

    }   
    @include mixin.mobile{
        padding: 4em 1em 4em 1em;

    }
}
.info__text{
    
}
.info__textcont{
    
}
.info__textp{                
    font-size: clamp(.3rem ,20vw,1.1rem);
    &:not(:first-child){
        margin-top: 1em;
    }

    
}
.info__textpspan{
    font-weight: 900;
}

.email{
    width: 100%;
    min-height: 48vh;
    background-color: var(--color-secundario-vague);
    @include mixin.flex(row,nowrap,center,center);
    position: relative;
    z-index: 1;

    @include mixin.smallTablet{
        margin-bottom: 14em;
        
    }
    &::before{
        content: "";
        position: absolute;
        display: inline-block;
        top: 0px;
        right: 0px;
        max-width : 800px;
        width: 100%;
        min-height: 48vh;
        background-image: url(../assets/sonrisas.jpg);
        background-size: cover;
        background-position: right top;
        z-index: -1;

        @include mixin.laptop(1420px){
            background-size: 150% auto;
            background-repeat: no-repeat;
            background-position: left;
        }
        @include mixin.smalllaptop{
            background-size: 150% auto;
            
        }

        @include mixin.smallTablet{
            
            display: none;
        }
        
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--color-secundario-brown);
        
        opacity: .2;
        z-index: -1;
        @include mixin.laptop(1420px){

        }
        @include mixin.mobile{
            opacity: 0;
        }
    }
}

.submit__cont{
    width: 80%;
    text-align: start;
    @include mixin.smallTablet{
        width: 90%;
    }
}
.email__h5{
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    margin-bottom: 2em;
    color: var(--color-secundario-brown);
    line-height: 1.4;
    
    @include mixin.smallTablet{
        font-size: clamp(.3rem ,20vw,1.4rem);
        text-transform: uppercase;

    }

    @include mixin.mobile{
        margin-bottom: 1em;
    }

}
.email__p{
    font-size: clamp(1rem ,20vw,1.3rem);
    margin-bottom: 2em;
    color: var(--color-secundario-white);
    font-weight: 900;
    @include mixin.smallTablet{
        font-size: clamp(.3rem ,20vw,.9rem);
    }
    @include mixin.mobile{
        font-size: clamp(.3rem ,20vw,.8rem);

    }
}
.email__cont{
    width: 50%;
    @include mixin.flex(row,nowrap,flex-start,center);
    border-radius: 8px 0px 0px 8px;
    @include mixin.laptop{
        width: 60%;
    }
    @include mixin.smalllaptop{
        width: 80%;

    }
    @include mixin.smallTablet{
        width: 100%;
    }
}
.email__width{
    width: 100%;
    position: relative;
    @include mixin.flex(row,nowrap,flex-start,center);
    @include mixin.smallTablet{
        width: 100%;
    }
}
.submit__emailinput{
    width: 100%;
    outline: 0px solid var(--color-secundario-brown);
    border-radius: 8px 8px 8px 8px;
    box-shadow:0 0 0 2px var(--color-secundario-brown);
    padding: 1em 0em 1em 1em;
    font-family: 'montserrat';
    color: var(--color-secundario-black);
    position: relative;
    background-color: white;
    transition: all 1s ease;

    @include mixin.smallTablet{
        width: 90%;
    }
    &::placeholder{
        opacity: .4;
    }
    &:focus::placeholder{
        opacity: .2;
    }
}
.submit__btn{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 1em 3em 1em 3em;
    height: 100%;

    background: var(--color-secundario-brown);
    outline: 0px solid var(--color-secundario-brown);
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    box-shadow:0 0 0 1.5px var(--color-secundario-brown);
    cursor: pointer;

    // @include mixin.mobile{
    //     padding: 1.2em 2em 1.16em 2em;

    // }

}
.submit__btnimg{
    object-fit: contain;
    -webkit-filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);

}

.endodoncia{
    width: 100%;
    padding: 8em 0em 8em 0em;
    @include mixin.flex(row,nowrap,center,center);

    .endodoncia__cont{
        width: 80%;
        @include mixin.flex(row,nowrap,center,center);
        @include mixin.smalllaptop{
            width: 90%;
        }
    }

    .endodoncia__width{
        @include mixin.flex(column,nowrap,center,center)
    }
    .endodoncia__h2{
        text-align: center;
        font-family: "montserrat";
        font-weight: 900;
        font-size: clamp(.3rem ,20vw,1.8rem);
        line-height: 1.3;
        letter-spacing: 3px;
        color: var(--color-secundario-brown);
        @include mixin.laptop(1500px){
            letter-spacing: 0px;
        }
        @include mixin.mobile{font-size: clamp(.3rem ,20vw,1.4rem);}

    }
    
    .line__endodoncia{
        width: 10%;
        position: relative;

        &::before{
        content: "";
        display: block;
        width: 100%;
        height: 2px;

        background: var(--color-secundario-vague);
        position: absolute;
        top: 1em;
        right: 0px;
        }
    }
    .endodoncia__conteiner{
        width: 90%;
        margin-top: 5em;
        @include mixin.flex(row,nowrap,center,self-start);
        @include mixin.laptop(1500px){
            width: 100%;
        }
        @include mixin.smalllaptop{
            width: 100%;
            @include mixin.flex(column,nowrap,center,center);

        }
    }

    .endondoncia__size{
        width: 50%;
        @include mixin.mobile(1024px){
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 2em;
        }
        @include mixin.mobile(1024px){
            &:not(:last-child){
                margin-right: 0em;
                 margin-bottom: 2em;
            }
        }
    }
    .endodoncia__p{
        font-family: "aileron-regular";
        font-size: clamp(.3rem ,20vw,1.2rem);
        line-height: 1.3;
        color: var(--color-text);
        //padding: 2em 0em 0em 0em;
        &:not(:last-child){
            margin-bottom: .5em;
        }
        @include mixin.mobile(550px){width:100%;}
        @include mixin.smallTablet(768px){width: 100%;
        font-size: clamp(.3rem ,20vw,1.2rem);}
    }
    
    
}


.descripcionendo{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);

}
.descripcionendo__cont{
    width: 80%;
    
    @include mixin.smalllaptop{
        width: 90%;
    }
}
.descripcionendo__title{

}
.descripcionendo__h3{
    text-align: center;
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;
    letter-spacing: 3px;
    color: var(--color-secundario-brown);
    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
}

.descripcionendo__textcont{
    width: 100%;
    @include mixin.flex(column,nowrap,center,center);
    margin-top: 3em;
}
.descripcionendo__text{
    width: 90%;
    @include mixin.laptop(1500px){
        width: 100%;
    }

    @include mixin.smalllaptop{
        width: 100%;
    }
}
.descripcionendo__p{
    font-family: "aileron-regular";
    font-size: clamp(.3rem ,20vw,1.2rem);
    line-height: 1.3;
    color: var(--color-text);
    
    &:not(:last-child){
        margin-bottom: .5em;
    }

    @include mixin.smalllaptop{
        font-size: clamp(.3rem ,20vw,1.2rem);
    }

    .descripcionendo__span{
        font-weight: 900;
    }
}
.descripcionendo__textimg{
    width: 90%;
    @include mixin.flex(row,nowrap,space-between,self-start);
    margin-top: 1em;

    @include mixin.laptop(1500px){
        width: 100%;
    }

    @include mixin.smalllaptop{
        width: 100%;
        @include mixin.flex(column,nowrap,center,center);
    }
}
.descripcionendo__text{
}

.descripcionendo__img{
    margin-left: 1.3em;
    @include mixin.smalllaptop{
        margin-left: 0em;
        margin-top: 1em;
    }
}
.descripcionendo__imagen{
    max-width: 800px;

}

.tecnologia{
    width: 100%;
    //background-color: greenyellow;
    @include mixin.flex(row,nowrap,center,center);
    padding: 8em 0em 8em 0em;
}
.tecnologia__cont{
    
}
.tecnologia__title{
    text-align: center;
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;
    letter-spacing: 3px;
    color: var(--color-secundario-brown);
    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
}
.tecnologia__contenido{
    width: 100%;
    margin-top: 3em;
    @include mixin.flex(row,nowrap,center,center)
}
.tecnologia__contenidowidth{
    width: 90%;
    @include mixin.flex(row,nowrap,center,center);
    @include mixin.laptop(1500px){
        width: 100%;
    }
}

.tecnologia__size{
    width: 80%;
    //background: blue;
    @include mixin.flex(row,nowrap,center,self-start);
    
    @include mixin.smalllaptop{
        width: 90%;
        @include mixin.flex(column,nowrap,center,center);
    }
}
.tecnologia__img{
    width: 50%;
    margin-right: 2em;
    @include mixin.laptop(1024px){
        width: 100%;
        margin-right: 0em;
        margin-bottom: 2em;

    }
}   
.tecnologia__contp{
    // width: 90%;
    // //background: red;
    // @include mixin.laptop(1024px){
    //     width: 100%;
    // }
}
.tecnologia__p{
    font-family: "aileron-regular";
    font-size: clamp(.3rem ,20vw,1.2rem);
    line-height: 1.3;
    color: var(--color-text);
    &:not(:last-child){
        margin-bottom: .5em;
    }

    .tecnologia__span{
        font-weight: 900;
    }
}



.banner{
    width: 100%;
    background: var(--color-secundario-vague);
    @include mixin.flex(row,nowrap,center,center)

}
.banner__cont{
    widows: 100%;
}
.banner__width{
    @include mixin.flex(row,nowrap,center,center);
    @include mixin.smalllaptop{
        padding: 6em 0em 0em 0em;
        @include mixin.flex(column,nowrap,center,center)

    }

}
.banner__info{
    width: 50%;
    min-height: 67vh;
    @include mixin.flex(row,nowrap,center,center);

        @include mixin.smalllaptop{
            min-height: 0;
        }
        @include mixin.smalllaptop{
        width:100%;
    }
}

.banner__infowidth{
    width: 80%;

    @include mixin.smalllaptop{
        width: 90%;
    }

}
.banner__margin{
    &:not(:last-child){
        margin-bottom: .5em;
    }
}
.banner__h2{
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;
    letter-spacing: 3px;
    color: var(--color-secundario-brown);

    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
}
.banner__h3{
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,2.2rem);
    line-height: 1.3;
    letter-spacing: 3px;
    color: var(--color-secundario-brown);
    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
}
.banner__p{
    font-family: "aileron-regular";
    font-size: clamp(.3rem ,20vw,1.2rem);
    line-height: 1.3;
    color: var(--color-text);
    margin-top: 1.5em;
    color: var(--color-secundario-brown);
}
.banner__btn{
    width: fit-content;
    background-color: var(--color-secundario-brown);
    border-radius: 8px;
    padding: 1.5em 4em 1.5em 4em;
    margin-top: 2em;
    cursor: pointer;
    color: var(--color-secundario-vague);
}
.banner__size{
    width: 100%;
    height: 70vh;

}
.banner__img{
    width: 100%;
    min-height: 67vh;

    @include mixin.smalllaptop{
        min-height: 0;
        margin-top: 6em;

    }
    
}

.precio{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    padding: 8em 0em 8em 0em;
}
.precio__cont{
    width: 80%;
    @include mixin.flex(row,nowrap,center,center);
    @include mixin.laptop(1500px){
        width: 90%;
    }
}
.precio__width{
    width: 90%;
    @include mixin.smalllaptop{
        width: 100%;
    }
}
.precio__h4{
    text-align: center;
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;
    letter-spacing: 3px;
    color: var(--color-secundario-brown);
    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
}
.precio__text{
    margin-top: 3em;
}
.precio__p{
    font-family: "aileron-regular";
    font-size: clamp(.3rem ,20vw,1.2rem);
    line-height: 1.3;
    color: var(--color-text);

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }

}


.formulario__endo{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    padding: 8em 0em 8em 0em;
    position: relative;
    
    &::before{
        content: "22";
        position: absolute;
        background-image: url(../assets/dentista.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(0.2em);

    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--color-secundario-brown);
        opacity: .3;
    }

}
.formulario__endocont{
    width: 80%;
    @include mixin.flex(row,nowrap,center,center);

    @include mixin.smalllaptop{
        width: 90%;
    }

}
.formulario__endoall{
    width: 90%;
    @include mixin.flex(row,nowrap,center,self-start);
    @include mixin.laptop(1500px){
        width:100%;
    }
    @include mixin.smalllaptop{
        @include mixin.flex(column,nowrap,center,center);

    }
}

.formulario__info{
    width: 50%;
    position: relative;
    z-index: 1;
    @include mixin.smalllaptop{
        width: 100%;
    }

    &:not(:last-child){
        margin-right: 1em;
    }
    @include mixin.smalllaptop{
        &:not(:first-child){
            margin-top: 2em;
        }
        &:not(:last-child){
            margin-right: 0em;
        }    
    
    }
}

.formulario__h5{   
    font-weight: 900;
    margin-bottom: 1.1em;
    font-size: clamp(.3rem ,20vw,3rem);
    letter-spacing: 2px;
    color: var(--color-secundario-vague);
    position: relative;
    
    @include mixin.smalllaptop{
    font-size: clamp(.3rem ,20vw,1.8rem)}
}
.formulario__p{
    font-family: "aileron-regular";
    font-size: clamp(.3rem ,20vw,1.2rem);
    color: white;
    text-align: start;
    line-height: 1.4;
    &:not(:last-child){
        margin-bottom: .5em;

    }
}
.formulario__ul{
    margin-top: 2em;
    @include mixin.flex(row,nowrap,flex-start,center)
}
.formulario__li{
    width: 1.5em;

    &:not(:last-child){
        margin-right: 1em;
    }
}
.formulario__img{
    width: 100%;
}

.formulario__label{
    &:not(:last-child){
        margin-bottom: 1em;

    }
}
.formulario__input{
    width: 100%;
    padding: 1.5em 0em 1.5em 1.5em;
    font-family: 'montserrat';
    border-radius: 8px;
    box-shadow:0 0 0 2px var(--color-secundario-vague);
    transition: all 1s ease;
    background: white;

    &:focus{
        outline: 0px solid var(--color-secundario-vague);
        color: var(--color-secundario-brown);
        
    }
    &::placeholder{
        opacity: .4;
    }
    &:focus::placeholder{
        opacity: .2;
        transition: all .1s ease-in-out;

    }
}
.formulario__textarea{
    width: 100%;
    border: 0px solid var(--color-secundario-brown);
    resize: vertical;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 2px var(--color-secundario-vague);
    box-shadow: 0 0 0 2px var(--color-secundario-vague);
    padding: 1.5em 0em 1.5em 1.5em;
    font-family: "montserrat";
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    background: white;

    &:focus{
        outline: none;
        color: var(--color-secundario-brown)
        
    }
    
    &::placeholder{
        opacity: .4;
    }
    &:focus::placeholder {
        opacity: .2;

    }
}

.formulario__checkbox{
    margin-top: 4em;

}
.formulario__checkboxcont{
    @include mixin.flex(row,nowrap,center,center)

}
.checkbox__endo{

}
.checkbox__endoinput{
    width: 1em;
    height: 1em;
    cursor: pointer;
    outline: 0px solid var(--color-text);
    margin-right: 0.5em;
    position: relative;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 2px var(--color-secundario-vague);
    box-shadow: 0 0 0 2px var(--color-secundario-vague);
    
    &:checked::after{
        content: "";
        position: absolute;
        top: 1.4px;
        left: 2px;
        width: 70%;
        height: 100vh;
        
        background-image: url(../assets/check_vague.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: .2em;
        

    }
}

.checkbox__pendo{
    color: white;
    font-family: "aileron-regular";
}

.checkbox__aendo{
    font-weight: 900;
}

.formulario__submitbtn{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    margin-top: 3em;
}
.formulario__submit{
    background: var(--color-secundario-brown);
    padding: 1.5em 4em 1.5em 4em;
    cursor: pointer;
    color: var(--color-secundario-vague);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 900;
    border-radius: 8px;

    &:hover{
        color: var(--color-secundario-vague);
        background: var(--color-secundario-brown);

    }
}


.tabs{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    background: var(--color-secundario-white);
    padding: 6em 0em 6em 0em;
    margin-bottom: 20em;
    
}
.tabs__cont{
    width: 90%;
    z-index: 1;
    @include mixin.flex(row,nowrap,center,center);
    
    @include mixin.laptop(1500px){
        width: 100%;
    }
    @include mixin.smalllaptop{display: none;}

}
.tabs__width{
    width: 80%;
    @include mixin.laptop(1024px){
        width: 100%;
    }
}
.tabs__ul{
    @include mixin.flex(row,nowrap,flex-start,center)
}
.tabs__li{
    border-top: 1.5px solid var(--color-secundario-vague);
    border-left: 1.5px solid var(--color-secundario-vague);
    padding: 1em;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: 900;
    color: var(--color-text);
    transform: all .4s ease-in-out;
    &.active{
        color: var(--color-secundario-vague);
    }
    &:nth-child(3){
        border-right: 1.5px solid var(--color-secundario-vague);
    }
}
.tabs__infoul{
    width: 100%;
    position: relative;
    border: 1.5px solid var(--color-secundario-vague);
    padding: 2em 0em 8em 0em;
    @include mixin.smallTablet(1065px){padding: 2em 0em 10em 0em;}
}
.tabs__infoli{
    position: absolute;
    top: 0;
    left: 0;

}
.tabs__infocont{
    width: 100%;
    @include mixin.flex(row,nowrap,center,self-start);
    padding: 2em 0em 0em 2em;
    opacity: 0;
    transition: all .3s ease;
    &.active{
        opacity: 1;
    }
}
.tabs__infop{
    width: 100%;
    font-family: 'montserrat';
    line-height: 1.4;
    color: var(--color-text);
}


.tabstwo__cont{
    display: none;
    z-index: 1;
    @include mixin.smalllaptop{
        display: block;
        width: 90%;
        position: relative;

        &::before{
            content: "";
            width: 100%;
            min-height: 100%;
            position: absolute;
            background-image: url(../assets/card_3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 4em 0em 4em 0em;
            position: relative;
            filter: blur(.25em);
        }

    }
}
.tabstwo__width{
    position: relative;
    z-index: 1;
}
.tabstwo__ul{
    
}
.tabstwo__li{
    border-bottom: 1px solid var(--color-secundario-vague);
}
.tabstwo__titlecont{
    width: 100%;
    cursor: pointer;
    @include mixin.flex(row,nowrap,space-between,center);
    padding: 1em 1em 1em 1em;
    font-family: 'montserrat';
    font-weight: 900;
    color: var(--color-secundario-vague);

    @include mixin.smalllaptop{
        padding: 1em 0.4em 1em 0em;

    }
}

.tabstwo__title{
    
}

.tabstwo__img{
    width: .5em;
    transform: rotate(0deg);
    transition: all .4s ease;

    &.active{
        transform: rotate(-180deg);
    }
    
.tabstwo__arrow{
    transform: rotate(90deg);
}
}
.tabstwo__info{
    height: 0;
    overflow: hidden;
    padding: 0em 2em 0em 2em;
    transition: height 1s ease;
    @include mixin.smallTablet(768px){
        padding: 0em 1em 0em 1em;

    }
    &.active{
        height: auto;
        transition: height 1s ease;
    }
    
}
.tabstwo__infoli{

}
.tabstwo__infocont{
    
}
.tabstwo__infop{
    color: var(--color-secundario-vague);
    padding: 0em 0em 2em 0em;
}

.tabstwo__infoimg{
    
}

//  START CONTACTO

.contacto{
    padding: 8em 0em 8em 0em;
}

.contacto__cont{
    width: 100%;
    @include mixin.flex(column,nowrap,center,center);
    
}
.contacto__titlecont{
    @include mixin.flex(column,nowrap,center,center)
}
.contacto__title{
    text-align: center;
    font-family: "montserrat";
    font-weight: 900;
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;  
    letter-spacing: 3px; 
    color: var(--color-secundario-brown);

    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }

    @include mixin.mobile{
        width: 90%;
        font-size: clamp(.3rem ,20vw,1.5rem);
    }
}
.contacto__titleline{
    width: 10%;
    position: absolute;
    
    &::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-secundario-vague);
    position: absolute;
    top: 2em;
    right: 0px;
    }
}

.contacto__horarios{
    
    padding: 1em 0em 0em 0em;
}

.contacto__horarioscont{
    width: 100%;
    @include mixin.flex(column,nowrap,center,center)
}
.contacto__horariosul{
    width: 90%;
    margin-top: 4em;
    @include mixin.grid(20em,1em)
    
}
.contacto__horariosli{
    width: 100%;
    background:white;
    min-height: 14em;
    padding: 0em 2em 0em 2em;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    border-radius: 8px;
    @include mixin.flex(column,nowrap,center,self-start)
}
.contacto__horariotitles{
    font-weight: 900;
    color: var(--color-secundario-brown);
    margin-bottom: .8em;
    letter-spacing: 2px;

    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
}
.contacto__horariosp{
    font-family: 'aileron-regular';
    font-size: clamp(.3rem ,20vw,1.1rem);
    color: var(--color-text);
    line-height: 1.4;
}

.contacto__horariosother{
    font-family: 'aileron-regular';
    color: var(--color-text);
    margin-top: 1em;
}

.contacto__horariosother p{
    font-family: 'aileron-regular';
}
.contacto__coloblack{
    font-family: 'montserrat';
    font-weight: 900;
    color: var(--color-secundario-brown);
    transition: all .3s ease-in-out;

    &:hover{
        color: var(--color-secundario-vague);
    }
}
.contacto__colovague{
    font-family: 'montserrat';
    font-weight: 900;
    color: var(--color-secundario-vague);

    
}
.contacto__horariosrrss{
    @include mixin.flex(row,nowrap,flex-start,center)
}
.contacto__horariosa{
    width: 1.5em;
    &.contacto__horarioimg{
        width: 100%;
    }

    &:not(:last-child){
        margin-right: 1em;
    }
}
.formulario__all{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    padding: 0em 0em 8em 0em;

}
.formulario__width{
    width: 90%;
    @include mixin.grid(10em,0em);
    @include mixin.smallTablet(768px){
        @include mixin.flex(column,nowrap,center,self-start);
    }

}
.formulario{
    background-color: transparent;
    &:not(:last-child){
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: self-end;
        margin-bottom: 3em;
    }
}

.iframe__info{
    width: 100%;
}
.iframe__infoh2{
    font-weight: 900;
    margin-bottom: 1.1em;
    font-size: clamp(.3rem ,20vw,1.8rem);
    letter-spacing: 2px;
    color: var(--color-secundario-brown);
    @include mixin.laptop(1500px){
        letter-spacing: 0px;
    }
    @include mixin.smallTablet{
        font-size: clamp(.3rem ,20vw,1.4rem);
    }
}
.iframe__infop{
    width: 80%;
    font-family: 'aileron-regular';
    font-size: clamp(.3rem ,20vw,1.2rem);
    color: var(--color-text);
    margin-bottom: 2.5em;
    text-align: start;
    line-height: 1.4;
    @include mixin.smallTablet{
        width: 100%;
    }
}
.iframe__infocont{
    font-size: clamp(.3rem ,20vw,1.2rem);
    font-family: 'aileron-regular';

    &:not(:last-child){
        margin-bottom: 2em;
    }
}
.iframe__infocontac{
    color: var(--color-secundario-vague);
    @include mixin.flex(column,nowrap,center,self-start)

    
}
.iframe__infocontaca{
    color: var(--color-text);
    transition: all .3s ease-in-out;

    &:hover{
        color: var(--color-secundario-vague);
        
    }
}
.iframe__infodireccion{
    color: var(--color-text);
}

.iframe__infotel{
    font-family: 'aileron-regular';
    color: var(--color-secundario-vague);

    &:not(:first-child){
        margin-top: .5em;
    }
}
.iframe__infotela{
    color: var(--color-text);
    transition: all .3s ease-in-out;
    
    &:hover{
        color:var(--color-secundario-vague);
    }
}
.formulario__conteiner{
    width: 100%;
    
    @include mixin.smallTablet(768px){width: 100%;}
}
.formulario__titlecont{
    
}
.formulario__title{
    font-family: 'montserrat';
    font-size: clamp(.3rem ,20vw,1.8rem);
    line-height: 1.3;
    margin-bottom: 1em;
    font-weight: 900;
    color: var(--color-secundario-brown);
    @include mixin.smallTablet{font-size: clamp(.3rem ,20vw,1.4rem);}
}

.formulario__titlep{
    font-family: 'aileron-regular';
    margin-bottom: 1em;
    color: var(--color-text);
    font-size: clamp(.3rem ,20vw,1.1rem);
    line-height: 1.4;
}
.formulario__titlespan{
    color: var(--color-text);
    font-family: 'aileron-regular';
    font-size: clamp(.3rem ,20vw,1.1rem);
}
.form{
    margin-top: 2em;
}
.form__label{
    &:not(:last-child){
        margin-bottom: 1em;
    }
}
.form__input{
    width: 100%;
    padding: 1.5em 0em 1.5em 1.5em;
    font-family: 'montserrat';
    border-radius: 8px;
    box-shadow:0 0 0 2px var(--color-secundario-vague);
    transition: all 1s ease;
    background: white;

    &:focus{
        outline: 0px solid var(--color-secundario-vague);
        color: var(--color-secundario-brown);
        
    }
    &::placeholder{
        opacity: .4;
    }
    &:focus::placeholder{
        opacity: .2;
        transition: all .1s ease-in-out;

    }
}
.form__textarea{
    width: 100%;
    border: 0px solid var(--color-secundario-brown);
    resize: vertical;
    border-radius: 8px;
    box-shadow:0 0 0 2px var(--color-secundario-vague);
    padding: 1.5em 0em 1.5em 1.5em;
    font-family: 'montserrat';
    transition: all 1s ease;
    background: white;

    &:focus{
        outline: none;
        color: var(--color-secundario-brown)
        
    }
    
    &::placeholder{
        opacity: .4;
    }
    &:focus::placeholder {
        opacity: .2;

    }
}   

.checkbox{
    margin-top: 4em;
}
.checkbox__cont{
    @include mixin.flex(row,nowrap,center,center)

}
.checkbox__label{
    
}


.checkbox__input{
    width: 1em;
    height: 1em;
    cursor: pointer;
    outline: 0px solid var(--color-text);
    margin-right: .5em;
    position: relative;
    border-radius: 2px;
    box-shadow:0 0 0 2px var(--color-secundario-vague);

    &:checked::after{
        content: "";
        position: absolute;
        top: 1.4px;
        left: 2px;
        width: 70%;
        height: 100vh;
        
        background-image: url(../assets/check@2x.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: .2em;
        

    }
}

.checkbox__politicap{
    color: var(--color-text);
    font-family: 'aileron-regular';

    @include mixin.mobile{font-size: clamp(.5em,20vw,.8em);}
}
.checkbox__politica{
    width: 100%;
    font-weight: 900;
    color: var(--color-secundario-vague);
    position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: var(--color-secundario-vague);
    }
}
.button__cont{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    margin-top: 3em;
}
.submit{
    background: var(--color-secundario-brown);
    padding: 1.5em 4em 1.5em 4em;
    cursor: pointer;
    color: var(--color-secundario-vague);
    transition: all .3s ease-in-out;
    font-weight: 900;
    border-radius: 8px;
    &:hover{
        color: var(--color-secundario-brown);
        background: var(--color-secundario-vague);

    }
}

.iframe__cont{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    padding: 0em 0em 20em 0em;
}

.iframe{
    width: 90%;
    @include mixin.flex(row,nowrap,center,center);

}
.iframe__conteiner{
    width: 100%;
}


.iframe__map{
    width: 100%;
    height: 50vh;
}



//  END CONTACTO








.footer{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    background-color: transparent;
    position: relative;
    @include mixin.name(var(--color-secundario-brown));
    padding: 5em 0em 5em 0em;
    @include mixin.mobile(550px){display: none;}
}

.footer__cont{
    width: 100%;
    @include mixin.flex(column,nowrap,center,center);
    color: var(--color-secundario-white)

}

.fotter__titles{
    width: 25%;
    @include mixin.flex(column,nowrap,center,center);
    position: relative;
    @include mixin.mobile(550px){width:100%;}
    @include mixin.smallTablet(768px){width: 80%;}
    
    
    
    .footer__img{
        width: 40%;
        @include mixin.mobile(550px){width:50%}

        padding: 0em 0em 0em 0em;
    }

    .line__logo{
        width: 20%;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: var(--color-secundario-vague);
            position: absolute;
            bottom: 0px;
            right: 0px;
            z-index: 1;
        }
    }


}

.footer__p{
    font-family: 'montserrat';
    padding: 1.5em 0em 0em 0em;
    color: var(--color-secundario-white);
    text-align: center;

}

.footer__ul{
    @include mixin.flex(row,nowrap,center,center);
    padding: 2em 0em 2em 0em;

}
.footer__li{
    font-family: 'montserrat';
    color: var(--color-secundario-vague);
    letter-spacing: 2px;
    transition: color .3s ease-in-out;

    &:hover{
        color: var(--color-secundario-white);
    }

    &:not(:last-child){
        margin-right: 2em;
    }
}
.footer__a{

}
.footer__rrss{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center)

}
.footer__rrssli{
    width: 1.5em;

    &:hover{
        filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(3586%) hue-rotate(312deg) brightness(81%) contrast(85%);
    }
    
    &:not(:last-child){
        margin-right: 1em;
    }

}

.footer__rrssa{
    
}
.footer__rrssimg{

}

.cookies{
    width: 100%;
    position: absolute;
    top: 0rem;
    z-index: 2;    
    @include mixin.smallTablet{
        
        z-index: 9;
    }
    
}

.cookies__cont{
    width: 100%;
    background-color: white;
    padding: 2em 2em 2em 2em ;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid var(--color-secundario-vague);
    @include mixin.flex(row,nowrap,center,center);
    transform: translateY(25rem);
    opacity: 0;
    transition: all 1.5s ease;

    @include mixin.laptop(1250px){
        @include mixin.flex(column,nowrap,center,center)

    }
    &.active{
        opacity: 1;
        transform: translateY(0);
    }
}
.cookies__title{
    width: 60%;
    @include mixin.laptop(1250px){
        width: 100%;
    }
    // @include mixin.smallTablet{
    //     width: 100%;

    // }

    .cookies__p{
        color: var(--color-text);
        font-size: clamp(.3rem ,20vw, .9rem);
        font-family: 'aileron-regular';

        @include mixin.laptop(1250px){
            font-size: clamp(.3rem ,20vw,.8rem);
            
        }
    }
    .cookies__span{
        color: var(--color-secundario-vague);
        border-bottom: 2px solid var(--color-secundario-vague);
        cursor: pointer;
    }
}
.cookies__allbtns{
    width: 40%;
    @include mixin.smallTablet{
        width: 100%;
    }
}
.cookies__btn{
    @include mixin.flex(row,nowrap,center,center)
}
.cookies__button{
    cursor: pointer;
    background-color: transparent;
    padding: 1em 3em 1em 3em;
    border-radius: 8px;
    color: var(--color-secundario-vague);
    font-weight: 900;
    font-size: clamp(.3rem ,20vw, .9rem);


    &:not(:first-child){
        border: 2px solid var(--color-secundario-vague);

    }
    &:not(:last-child){
        margin-right: 1em;
        background-color: var(--color-secundario-brown);
        border: 2px solid var(--color-secundario-brown);

    }
    @include mixin.laptop(1250px){
        margin-top: 2em;
        font-size: clamp(.3rem ,20vw,.5rem);

    }
}

