
@use "reset/mixin";
@use "reset/reset";
@use "reset/variables";





.conteiner__header{
    width: 100%;
    display: flex;
    justify-content: center;;
    @include mixin.name(var(--color-secundario-brown));

    .header{
        width: 90%;
        @include mixin.mobile(550px){width:100%;position:fixed;bottom: 0px; z-index:9;    @include mixin.name(var(--color-secundario-brown));};
        
    }
    
    .header__nav{
        width: 100%;
        @include mixin.flex(row,nowrap,space-between,center);
        padding: 2em 0em 2em 0em;
        @include mixin.mobile(550px){padding: 1em 0em 1em 0em;}
    }
    .header__logo{
        width: 20%;
        @include mixin.mobile(1080px){width:40%}

        @include mixin.mobile(550px){width:65%}
        
    }
    .logo__li{
    
    }
    .header__a{
        
    }
    
    .desktop__logo{
        display: block;
        @include mixin.mobile(550px){display: none;}
    }
    .mobile__logo{
        display: none;
        @include mixin.mobile(550px){display: block;width: 60%}
    }



    .header__menu{
        @include mixin.flex(row,nowrap,center,center);
        @include mixin.mobile (550px){display: none;}
        text-transform: uppercase;
    }

    .menu__li{
        color: var(--color-secundario-white);
        font-family: 'montserrat';
        font-size: clamp(.8em,20vw,.8em);
        letter-spacing: 2px;
        transition: color .3s ease-in-out;

        &:not(:last-child){
            margin-right: 2.5em;
        }
        &:hover{
            color: var(--color-secundario-vague);
        }
        &.active{
            color: var(--color-secundario-vague);
        }
    }


    .header__a{
        
    }


    .menumovil__box{
        display: none;
        @include mixin.mobile(550px){display:block;};
        position: relative;
        z-index: 3;
    }

    .menumovil{
        width: 4em;
        min-height: 4em;
    
        cursor: pointer;
        @include mixin.flex(row,nowrap,center,center);
    }
    
    .menumovil__conteiner{
        width: 80%;
        min-height: 100%;
        
        overflow: hidden;


        .menumovil__lines{
            width: 100%;
            min-height: 4px;
            background-color: var(--color-secundario-gray);
            transition: all .2s ease;
            
            
            &:not(:last-child){
                margin-bottom: .8em;
            }
        }
        .active.lines__1{
            opacity: 1;
            transform: rotate(34deg)  ;
            transform-origin: left;
            width: 120%;
            
        }

        .active.lines__2{
            transform: translateX(-100%);
        }
        .active.lines__3{
            opacity: 1;
            transform: rotate(-34deg);
            transform-origin: left;
            width: 120%;

        }
        
    }
    
    .menumobile{
        width: 100%;
        min-height: 100vh;
        background-color: var(--color-secundario-brown);
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        display: none;
        @include mixin.mobile(550px){display: block;}
        transform: translateX(100%);
        transition: transform .3s ease-in-out;


        &.active{
            transform: translateX(0%);
        }
    }

    .menumobile__cont{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menumobile__ul{
        text-align: center;
        text-transform: uppercase;
        font-family: 'montserrat';
        font-weight: 900;
        color: var(--color-secundario-white);
    }
    .menumobile__li{
        font-size:clamp(1rem,20vw,2rem);



        &:not(:last-child){
            margin-bottom: 2em;
        }
    }
    .menumobile__a{
        
    }
}

.slider{
    width: 100%;
    
    .slider__conteiner{
        width: 100%;
        

        .slider__imagenes{
            width: 100%;

        }
        .slider__img{
            width: 100%;
            height: 80%;
            position: absolute;
            opacity: 0;
            transition: all 2s ease;
        }
        .active.slider__img {
            opacity: 1;
            
        }
        
        .arrow__cont{
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            
            
            .slider__arrow{
                width: 100%;
                position: relative;
                z-index: 1;
                color: red;
                cursor: pointer;
                .arrow{
                    position: absolute;
                }
                .slider__left{
                    width:2.5em;
                    fill: red;
                    left: 4em;
                    transform: rotate(180deg);
                    @include mixin.mobile(550px){left:1em; width:1.8em}
                }

                .slider__right{
                    right: 3em;
                    width:3em;
                    @include mixin.mobile(550px) {right: 1em; width: 1.8em;}
                }
            }
        }  
    }
    
}
.main{
    width: 100%;
    background-color: var(--color-secundario);
    padding: 8em 0em 20em 0em;


    .main__cont{
        width: 100%;
        display: flex;
        justify-content: center;

        .main__titles{
            width: 80%;
            @include mixin.mobile(550px){width: 90%;}
            display: flex;
            flex-direction: column;
            align-items: center;

            .main__h2{
                text-align: center;
                font-family: 'montserrat';
                font-weight: 900;
                font-size: clamp(.3rem ,20vw,1.8rem);
                
                @include mixin.mobile(550px){padding: 4em 0em 1em 0em;}
                line-height: 1.3;

            }

            .line__h2{
                width: 10%;
                position: relative;
                
                &:before{
                    content: "";
                    display: block;
                    width:100%;
                    height: 2px;
                    background: var(--color-secundario-vague);
                    position: absolute;
                    top: 1em;
                    right: 0px;
                    
                }
            }

            .main__p{        
                width: 70%;        
                text-align: center;
                font-family: 'aileron-thin';
                padding: 2em 0em 8em 0em;
                font-size: clamp(.3rem ,20vw,1.4rem);
                line-height: 1.3;
                @include mixin.mobile(550px){width: 100%;}
            }
        }
    }

    
    
    .card{
        width: 100%;
        height: auto;
        @include mixin.name(white);
        display: grid;
        place-items: center;
        background-image: url(../assets/bg.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 4em 0em 4em 0em;
        position: relative;

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            @include mixin.name(var(--color-secundario-brown));
            opacity: .3;
            z-index: 0;
        }

        .card__ul{
            width: 90%;
            @include mixin.grid(23em, 2em);
            @include mixin.mobile(550px){width:90%}
            @include mixin.smallTablet(1690px){
                @include mixin.grid(24em,1.8em)
            }

            position: relative;
            z-index: 1;
        }
        .card__li{
            
            @include mixin.name(white);
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
        .card__box{
            width: 100%;
            min-height: 34em;
        }

        .card__img{
            width: 100%;
            min-height: 18em;
            background-image: url(../assets/card_1.jpg);
            background-size: cover;
            background-position: top left;
            border-radius: 8px 8px 0px 0px;
        }

        .card__img1{
            width: 100%;
            min-height: 18em;
            background-image: url(../assets/card_2.jpg);
            background-size: cover;
            background-position: top left;
            border-radius: 8px 8px 0px 0px;

            
        }
        .card__img2{
            width: 100%;
            min-height: 18em;
            background-image: url(../assets/card_3.jpg);
            background-size: cover;
            background-position: top left;
            border-radius: 8px 8px 0px 0px;
            
        }

        .card__info{
            width: 100%;
            @include  mixin.flex(column,nowrap,center,center);

        .card__h3{
            text-align: center;
            font-family: 'montserrat';
            font-weight: 600;
            padding: 2em 0em 1em 0em;
            text-transform: uppercase;
        }

        .card__p{
            width: 75%;
            text-align: center;
            font-family: 'aileron-thin';
            color: var(--color-text);
        }
        }
    }
    
}

.footer{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center);
    background-color: transparent;
    position: relative;
    @include mixin.name(var(--color-secundario-brown));
    padding: 5em 0em 5em 0em;
}

.footer__cont{
    width: 100%;
    @include mixin.flex(column,nowrap,center,center);
    color: var(--color-secundario-white)

}

.fotter__titles{
    width: 25%;
    @include mixin.flex(column,nowrap,center,center);
    position: relative;
    @include mixin.mobile(550px){width:100%;}

    
    
    
    .footer__img{
        width: 40%;
        @include mixin.mobile(550px){width:50%}
        padding: 0em 0em 0em 0em;
    }

    .line__logo{
        width: 20%;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: var(--color-secundario-vague);
            position: absolute;
            bottom: 0px;
            right: 0px;
            z-index: 1;
        }
    }
    .footer__p{
        font-family: 'montserrat';
        padding: 1.5em 0em 0em 0em;
        color: var(--color-secundario-white);
        text-align: center;
    }

}

.footer__ul{
    @include mixin.flex(row,nowrap,center,center);
    padding: 2em 0em 2em 0em;

}
.footer__li{
    font-family: 'montserrat';
    color: var(--color-secundario-vague);
    letter-spacing: 2px;
    transition: color .3s ease-in-out;

    &:hover{
        color: var(--color-secundario-white);
    }

    &:not(:last-child){
        margin-right: 2em;
    }
}
.footer__a{

}
.footer__rrss{
    width: 100%;
    @include mixin.flex(row,nowrap,center,center)

}
.footer__rrssli{
    width: 3em;
    padding: .8em;
    // border: 2px solid #ffffff;
    // border-radius: 50%;
    transition: filter .3s ease-in-out;


    &:hover{
        filter: invert(76%) sepia(7%) saturate(1229%) hue-rotate(352deg) brightness(92%) contrast(87%);

    }
    
    &:not(:last-child){
        margin-right: 2em;
    }

}

.footer__rrssa{
    
}
.footer__rrssimg{

}

