
$primario : peru;

$colores:(
    "negro" : #131313,
    "vague" : blue,
);

:root{
    --color-text        : rgb(118, 118, 118);
    --color-secundario-white  : #eae9e8;
    --color-secundario-vague  : #c3aa8e;
    --color-secundario-brown  : #332520;
    --color-secundario-gray   : #3d3d3d;


}